* {
  margin: 10px;
  background-color: dfe7fd;
}
.header {
  border: 5px solid black;
}
/*.header-img {
  width: 50px;
  height: 50px;
}*/
.nav-container {
  display: flex;
  flex-direction: row;
}

.links {
  /*flex: 2;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-container div {
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}
.name {
  flex: 1;
  align-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
