body {
  padding: 10px;
  background-color: dfe7fd;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
}

.project-heading {
  text-align: center;
}

.first-project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-container {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  border: 5px solid;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: aqua;
}

#portfolio-card a {
  display: block;
}

.project-card {
  width: 18rem;
  background-color: dfe7fd;
  margin: 10px;
}

.project-card img {
  max-height: 300px;
  width: 100%;
}

.image-link {
  display: block;
}
.project-description {
  padding: 1%;
}
.project-info {
  padding: 5%;
}

@media (max-width: 700px) {
  .nav-container,
  .links,
  .main,
  .section-container,
  .contact-me-container {
    flex-direction: column;
  }
  .about-me-info {
    width: 90%;
  }
  .profile-image {
    margin: 0;
  }
}
